@import '../../assets/variables.scss';

.companyOverviewContainer {
    height: 65vh;
    width: 25vw;
    float: right;
    margin-right: $component-side-margin;
    margin-top: $base-margin *1.5;
    background-color: $primary-box-color;
    box-shadow: $uniform-box-shadow;
}