@import '../../assets/variables.scss';

.mainContent {
    height: 65vh;
    width: 60vw;
    display: inline-block;
    background: $primary-box-color;
    margin-top: $base-margin *1.5;
    margin-left: $component-side-margin;
    box-shadow: $uniform-box-shadow;
}