@import '../../assets/variables.scss';

.companyInformation {
    height: 50%;
    width: 80%;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;

    .box {
        width: 80%;
        margin: auto;
        
        .keyCategories {
            font-size: 16px;
            font-weight: $section-heading-weight;
            text-align: center;
            padding: 5px;
            color: $secondary-color;
        }

        .keyInfo {
            font-weight: $text-weight;
            font-size: 14px;
            padding: 5px;
            text-align: center;
        }

    }
    

}