@import '../../assets/variables.scss';

.navBar {
    // border: red solid 3px;
    background-color: white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: $uniform-box-shadow;
    font-family: $text-font;
    
    div {
        width: 35%;
        height: 100%;
        display: flex;

        .logoContainer {
            height: 100%;
            width: 30%;

            .logo {
                height: 40%;
                width: 30%;
                margin: auto;
                color: $primary-color;
                transition: transform .5s ease;
            }

            .logo:hover {
                transform: scale(1.2);
            }
        }

        .searchBarContainer {
            height: 100%;
            width: 80%;

            .searchBar {
                height: 40%;
                width: 100% ;
                margin-top: $base-margin *1.4;
            }
        }
    }

    .buttonContainer {
        height: 100%;
        margin-left: $base-margin*2.5;

        .navButton {
            list-style-type: none;
            display: inline-block;
            text-align: center;
            vertical-align: center;
            width: 100px;
            height:  100%;
            transition: all 2s;
        }

        .navButton a {
            display: block;
            margin-top: $base-margin *1.8;
            height: 50%;
            transition: transform .5s ease;
        }

        .navButton a:hover {
        color: black;
        transform: scale(1.2);
        }
    }
        
    .settingsSection {
        height: 100%;
        width: 20%;
        margin-left: auto;
        display: flex;
        justify-content: space-between;

        .notificationButton {
            height: 100%;
            width: 50%;

            .notificationIcon{
                height: 40%;
                width: 30%;
                margin: auto;
                color: $primary-color;
                transition: transform .5s ease;
            }

            .notificationIcon:hover {
                transform: scale(1.2);
            }

        }
        .profileButton {
            height: 100%;
            width: 50%;
            
            .profilePicture {
                height: 40%;
                width: 30%;
                margin: auto;
                color: $primary-color;
                transition: transform .5s ease;
            }

            .profilePicture:hover {
                transform: scale(1.2);
            }
        }
    }
}
